/* Zerar o padding, a margem e difinir um box-sizing como border-box para todos os elementos.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Difinir o cursor como pointer para os botões, indicando que eles podem ser clicáveis */
button {
  cursor: pointer;
}

/* Estilização do corpo da página */
body {
  background-color: #fffafa;
  color: #121212;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Estilização do container principal */
.container {
  width: 70vh;
  border-radius: 6px; 
  padding: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border: 2px solid lightseagreen;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Estilização do container das perguntas */
.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* Estiliza a pergunta */
.question {
  font-size: 20px;
  font-weight: 600;
  color: #121212;
}

/* Estiliza o container das respostas */
.answers-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

/* Estiliza os botões */
.button {
  background-color: lightseagreen;
  color: #fffafa;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  border-radius: 6px;
  padding: 12px;

  transition: filter 0.2s;
}

/* Estiliza os botões ao passar o mouse */
.button:not(:disabled):hover {
  filter: brightness(0.9);
}

/* Estiliza a mensagem final */
.final-message {
  font-size: 20px;
  text-align: center;
  color: #121212;
}

/* Estiliza a mensagem final em estado alternativo */
.final-message {
  font-size: 15px;
  color: gray;
}

/* Estiliza as respostas desabilitadas */
.answer:disabled {
  cursor: not-allowed;
}

/* Oculta elementos */
.hide {
  display: none;
}

/* Estiliza a resposta correta */
.correct {
  background-color: #049b48;
}

/* Estiliza a resposta incorreta */
.incorrect {
  color: red;
  border: 1px solid gray;
  background-color: #fffafa;
}

/* Estiliza as informações sobre as questões */
.infoQuestion {
  display: none;
  justify-content: space-between;
  color: grey;
  width: 100%;
  span {
    font-size: 17px;
    font-weight: 600;
  }
}

/* Estiliza o container dos controles */
.controls-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Estiliza o título inicial */
#tituloInicio {
  color: #121212;
  font-size: 35px;
  text-align: center;
}

/* Estiliza o container de resultados */
.divResultado {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: #121212;
    font-size: 35px;
  }
  strong {
    font-size: 35px;
    font-weight: bold;
    color: lightseagreen;
  }
}

/* Estiliza o container dos botões de resultado */
.divBtnResultado {
  display: flex;
  gap: 0.5rem;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    i {
      font-size: 19px;
    }
  }
}

/* Estiliza a mensagem de atualização da questão */
#infoUpdateQuestion {
  color: red;
  font-size: 13px;
}

/* Responsividade para telas com largura máxima de 615px */
@media screen and (max-width: 615px) {
  .container {
    width: 60vh;
  }
  #tituloInicio {
    font-size: 32px;
  }
}

/* Responsividade para telas com largura máxima de 470px */
@media screen and (max-width: 470px) {
  .container {
    width: 50vh;
    padding: 20px;
  }
  #tituloInicio {
    font-size: 28px;
  }
  .question {
    font-size: 18px;
  }
  .button {
    font-size: 13px;
  }
  .infoQuestion {
    span {
      font-size: 15px;
    }
  }
}

/* Responsividade para telas com largura máxima de 400px */
@media screen and (max-width: 400px) {
  .container {
    width: 43vh;
    padding: 20px;
  }
  #tituloInicio {
    font-size: 25px;
  }
  .question {
    font-size: 17px;
  }
  .button {
    padding: 10px;
  }
  .infoQuestion {
    span {
      font-size: 13px;
    }
  }
  .divResultado {
    font-size: 18px;
    h1 {
      font-size: 23px;
    }
    strong {
      font-size: 25px;
    }
  }
}
